<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			<div class="row">
				<div class="col-md-3">
					<a class="navbar-brand" href="#"><span>Auto</span>Management</a>

				</div>
				<div class="col-md-6">

					<form class="navbar-form" role="search" style="display:inline-block;width: 100%;">
						<!--<div class="input-group">-->
							<input type="text" class="form-control" style="width: 100%; border-radius: 0;" placeholder="Search" name="q">
							<!--<div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>-->
						<!--</div>-->
					</form>
				</div>
				<div class="col-md-3">
					<ul class="user-menu">
						<li class="dropdown pull-right">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<svg class="glyph stroked male-user">
									<use xlink:href="#stroked-male-user"></use>
								</svg> User <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="#">
										<svg class="glyph stroked male-user">
											<use xlink:href="#stroked-male-user"></use>
										</svg> Profile</a>
								</li>
								<li>
									<a href="#">
										<svg class="glyph stroked gear">
											<use xlink:href="#stroked-gear"></use>
										</svg> Settings</a>
								</li>
								<li>
									<a href="#">
										<svg class="glyph stroked cancel">
											<use xlink:href="#stroked-cancel"></use>
										</svg> Logout</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!--<form role="search">
				<div class="form-group">
				</div>
			</form>-->
			<!--<ul style="display: inline-block; margin-top: 14px; margin-right: 10px;list-style: none; padding: 0;">
				<li class="dropdown">
					<input type="text" placeholder="Search">
				</li>
			</ul>-->


		</div>

	</div>
	<!-- /.container-fluid -->
</nav>